___

<a href='https://www.purwadhika.com/'> <img style="height: 200px" src='https://www.dicoding.com/images/original/event/201705181703334cc2c00c0d639e4593a12a55aa4c8103.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
df = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [14]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [5]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [9]:
df['BasePay'].mean()

66325.44884050643

66325.44884050643

*** What is the highest amount of OvertimePay in the dataset ? ***

In [11]:
df['OvertimePay'].max()

245131.88

245131.88

*** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). ***

In [12]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [13]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

24    270324.91
Name: TotalPayBenefits, dtype: float64

*** What is the name of highest paid person (including benefits)? ***

In [31]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

*** What was the average (mean) BasePay of all employees per year? (2011-2014) ? ***

In [17]:
df.groupby('Year')
by_comp = df.groupby('Year')
by_comp.mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [19]:
df['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [66]:
(df[df['Year'] == 2013]['JobTitle'].value_counts() == 1).sum()

202

202

*** How many people have the word Chief in their job title? (This is pretty tricky) ***

In [26]:
df[df['JobTitle'].str.contains('Chief')]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36169,36170,Brendan Ward,"Battlion Chief, Fire Suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN
36170,36171,Samson Lai,"Battlion Chief, Fire Suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN
36171,36172,Rudy Castellanos,"Battlion Chief, Fire Suppressi",176771.74,124413.13,15803.39,52320.90,316988.26,369309.16,2012,NaN,San Francisco,NaN
36172,36173,Marty Ross,"Battlion Chief, Fire Suppressi",174822.41,99623.51,36522.39,55353.92,310968.31,366322.23,2012,NaN,San Francisco,NaN
36173,36174,Mark Kearney,Assistant Deputy Chief 2,124573.50,22599.60,180516.68,32381.00,327689.78,360070.78,2012,NaN,San Francisco,NaN
36179,36180,Michael Morris,Assistant Deputy Chief 2,223371.00,7415.52,63426.03,56202.98,294212.55,350415.53,2012,NaN,San Francisco,NaN
36181,36182,James Dudley,Deputy Chief 3,263426.50,0.00,22857.87,59265.59,286284.37,345549.96,2012,NaN,San Francisco,NaN
36190,36191,Thomas Harvey,Assistant Deputy Chief 2,226475.05,0.00,54967.53,55722.16,281442.58,337164.74,2012,NaN,San Francisco,NaN
36196,36197,David Shinn,Deputy Chief 3,263426.50,0.00,12320.80,57576.73,275747.30,333324.03,2012,NaN,San Francisco,NaN
36197,36198,Kevin Cashman,Deputy Chief 3,253094.51,0.00,22206.40,56561.05,275300.91,331861.96,2012,NaN,San Francisco,NaN
36201,36202,Pete Fay Jr,"Battlion Chief, Fire Suppressi",176515.48,74246.62,23772.00,53207.72,274534.10,327741.82,2012,NaN,San Francisco,NaN
36204,36205,Denise Schmitt,Deputy Chief 3,263390.60,0.00,819.01,60298.97,264209.61,324508.58,2012,NaN,San Francisco,NaN
36208,36209,Kevin Taylor,"Battlion Chief, Fire Suppressi",176515.48,71643.89,23352.06,47455.23,271511.43,318966.66,2012,NaN,San Francisco,NaN
36212,36213,Kirk Richardson,"Battlion Chief, Fire Suppressi",174822.50,67875.53,21516.98,52568.73,264215.01,316783.74,2012,NaN,San Francisco,NaN
36215,36216,Lorrie Kalos,"Battlion Chief, Fire Suppressi",174822.48,63116.25,24255.85,52687.80,262194.58,314882.38,2012,NaN,San Francisco,NaN
36220,36221,James Vannucchi,"Battlion Chief, Fire Suppressi",174822.43,53465.15,30760.78,49888.38,259048.36,308936.74,2012,NaN,San Francisco,NaN
36222,36223,Bryan Rubenstein,"Battlion Chief, Fire Suppressi",174822.44,58091.97,23603.24,52059.82,256517.65,308577.47,2012,NaN,San Francisco,NaN
36226,36227,Michael Thompson,"Battlion Chief, Fire Suppressi",176515.52,54339.84,22064.50,52776.95,252919.86,305696.81,2012,NaN,San Francisco,NaN
36228,36229,Kevin Smith,"Battlion Chief, Fire Suppressi",176515.52,45860.99,27969.77,53182.45,250346.28,303528.73,2012,NaN,San Francisco,NaN
36230,36231,Rex Hale,"Battlion Chief, Fire Suppressi",176515.49,49002.61,24503.36,52693.66,250021.46,302715.12,2012,NaN,San Francisco,NaN
36233,36234,Jose Velo,Assistant Deputy Chief 2,226475.02,0.00,16877.44,58449.76,243352.46,301802.22,2012,NaN,San Francisco,NaN
36241,36242,Jeffrey Myers,Emergency Medical Svcs Chief,226475.00,0.00,13588.50,57982.22,240063.50,298045.72,2012,NaN,San Francisco,NaN
36247,36248,Lyn Tomioka,Deputy Chief 3,234405.50,0.00,5884.63,55870.50,240290.13,296160.63,2012,NaN,San Francisco,NaN
36248,36249,George Garcia,"Battlion Chief, Fire Suppressi",144510.79,76624.10,32650.42,42316.01,253785.31,296101.32,2012,NaN,San Francisco,NaN
36250,36251,Michael Bryant,"Battlion Chief, Fire Suppressi",176515.50,41747.56,24263.24,52962.59,242526.30,295488.89,2012,NaN,San Francisco,NaN
36256,36257,Michael Biel,Deputy Chief 3,221828.00,0.00,19194.10,52217.79,241022.10,293239.89,2012,NaN,San Francisco,NaN
36259,36260,Charles Crane,"Battlion Chief, Fire Suppressi",176515.51,51949.05,13581.09,50933.68,242045.65,292979.33,2012,NaN,San Francisco,NaN
36263,36264,Mark Johnson,"Battlion Chief, Fire Suppressi",174822.43,39792.60,22624.05,51764.36,237239.08,289003.44,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120012,120013,Mark A Naddy,Chief Stationary Engineer,99736.06,450.62,5934.48,36955.12,106121.16,143076.28,2014,NaN,San Francisco,NaN
121045,121046,Rolando C Lopez,Chief Stationary Engineer,91172.93,5517.86,5300.90,34959.56,101991.69,136951.25,2014,NaN,San Francisco,NaN
122123,122124,Nerivaldo C Santos,Chief Fire Alarm Dispatcher,90665.02,7235.84,70.00,33692.92,97970.86,131663.78,2014,NaN,San Francisco,NaN
122170,122171,James M Ryan,Chief Surveyor,95288.05,396.83,0.00,35673.70,95684.88,131358.58,2014,NaN,San Francisco,NaN
122574,122575,Loretta M Cecconi,Chief Dietitian,94694.30,0.00,200.00,34558.44,94894.30,129452.74,2014,NaN,San Francisco,NaN
123030,123031,Michael G Gay,Chief Stationary Engineer,81476.01,5806.87,17427.93,22612.24,104710.81,127323.05,2014,NaN,San Francisco,NaN
124548,124549,Paul H Mabry,Chief Surveyor,88421.29,0.00,0.00,31060.87,88421.29,119482.16,2014,NaN,San Francisco,NaN
124647,124648,Mark Y Antonio,Chief Clerk,82230.07,0.00,3397.31,33432.00,85627.38,119059.38,2014,NaN,San Francisco,NaN
125497,125498,Artie L L Kelly,Chief Clerk,82230.01,0.00,1156.44,32076.41,83386.45,115462.86,2014,NaN,San Francisco,NaN
125525,125526,Tuti I Suardana,Chief Clerk,82230.03,0.00,1040.00,32063.05,83270.03,115333.08,2014,NaN,San Francisco,NaN
125670,125671,Sylvia N Thai,Chief Clerk,82230.04,0.00,624.00,31970.56,82854.04,114824.60,2014,NaN,San Francisco,NaN
125673,125674,Deborah L Brown,Chief Clerk,82230.01,0.00,624.00,31970.56,82854.01,114824.57,2014,NaN,San Francisco,NaN
125861,125862,Cuong Quach,Chief Clerk,82299.89,0.00,0.00,31861.18,82299.89,114161.07,2014,NaN,San Francisco,NaN
125893,125894,Peter Aviles,Chief Clerk,82230.02,0.00,0.00,31834.29,82230.02,114064.31,2014,NaN,San Francisco,NaN
125907,125908,Shahin P Shaikh,Chief Clerk,82195.25,0.00,0.00,31820.96,82195.25,114016.21,2014,NaN,San Francisco,NaN
126041,126042,Donald P Margolis,Assistant Chief Attorney 1,62720.01,0.00,33084.71,17560.74,95804.72,113365.46,2014,NaN,San Francisco,NaN
127965,127966,Sylvia M Selinger,Chief Clerk,75606.53,0.00,0.00,31027.57,75606.53,106634.10,2014,NaN,San Francisco,NaN
128030,128031,Janice Gragasin,Chief Clerk,75968.03,0.00,0.00,30478.04,75968.03,106446.07,2014,NaN,San Francisco,NaN
131266,131267,Cheryl L Coleman,Chief Clerk,68089.84,0.00,40.00,26349.83,68129.84,94479.67,2014,NaN,San Francisco,NaN
131377,131378,Ann M Castillo,Chief Telephone Operator,65117.43,0.00,624.60,28244.66,65742.03,93986.69,2014,NaN,San Francisco,NaN
132799,132800,Judith A Boyajian,Assistant Chief Attorney 1,88352.39,0.00,575.00,0.00,88927.39,88927.39,2014,NaN,San Francisco,NaN
133842,133843,Jennifer L Novak,Chief Clerk,61327.71,0.00,696.96,23793.25,62024.67,85817.92,2014,NaN,San Francisco,NaN
137010,137011,Ryan L Butterfield,Chief Preparator,46950.77,0.00,0.00,20659.10,46950.77,67609.87,2014,NaN,San Francisco,NaN
137168,137169,Tony E Durkee,Chief Surveyor,65432.94,0.00,0.00,654.38,65432.94,66087.32,2014,NaN,San Francisco,NaN
137553,137554,Paula Jesson,Assistant Chief Attorney 1,62095.32,0.00,431.25,0.00,62526.57,62526.57,2014,NaN,San Francisco,NaN
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,NaN
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,NaN
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,NaN
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,NaN
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,NaN

In [61]:
df[df['JobTitle'].str.upper().str.contains('CHIEF')].shape

(627, 13)

In [65]:
len(df[df['JobTitle'].apply(lambda x: 'chief' in x.lower())])

627

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [22]:
# korelasi 1 = hubungan tinggi, korelasi 0 = tidak berhubungan, korelasi 01 = hubungan berkebalikan

In [70]:
# Hitung panjangnya Job Title
df['title_len'] = df['JobTitle'].str.len()

In [75]:
df[['title_len','TotalPayBenefits']].corr()
# -0.036 berarti mendekati 0 berarti tidak berkorelasi.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [76]:
df[['Benefits','TotalPayBenefits']].corr()

                  Benefits  TotalPayBenefits
Benefits           1.00000           0.93014
TotalPayBenefits   0.93014           1.00000

*** Fill NaN Values of BasePay ***

In [80]:
df['BasePay'].fillna(0, inplace = True)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 14 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148654 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
title_len           148654 non-null int64
dtypes: float64(8), int64(3), object(3)
memory usage: 15.9+ MB

*** Fill Notes NaN Values dengan Manager hanya untuk Job Titlenya mengandung kata Manager ***

In [84]:
df[df['JobTitle'].str.upper().str.contains('MANAGER')].shape

(4110, 14)

In [102]:
df.loc[df['JobTitle'].str.upper().str.contains('MANAGER'), 'Notes'] = 'MANAGER'

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 15 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148654 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               4110 non-null object
Agency              148654 non-null object
Status              0 non-null float64
title_len           148654 non-null int64
NOTES               4110 non-null object
dtypes: float64(7), int64(3), object(5)
memory usage: 17.0+ MB

# Great Job!